@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The content in these website belongs to respective company and organisation.</p>
<p>I dont owe any of the rights mentioned in the site</p>
<p>All rights reserved 2022</p>
